:root {
  --vp-font-family-base:
    'Jost', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

/* (Optional) apply the font to the whole document */
html {
  font-family: var(--vp-font-family-base);
}

/* .vitepress/theme/my-fonts.css */
:root {
  --vp-font-family-base: /* normal text font */ --vp-font-family-mono: /* code font */;
}

body {
  color: red !important;
}
