:root {
  --vp-font-family-base:
    'Jost', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  font-family: var(--vp-font-family-base);
}

html {
  font-family: 'Jost', sans-serif;
}
