@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

/* Tailwind’s base layer includes global CSS resets and element styles that are not prefixed. 
These styles affect all HTML elements (like input, button, h1, etc.) in the consuming app. */
@tailwind base;

.mobile-preview-frame {
  container-type: inline-size;
}

.pbx-theme-cover svg {
  width: 100%;
  height: 100%;
  object-position: top; /* align to top */
}
