/* Tailwind’s base layer includes global CSS resets and element styles that are not prefixed. 
These styles affect all HTML elements (like input, button, h1, etc.) in the consuming app. */
@tailwind base;

.mobile-preview-frame {
  container-type: inline-size;
}

/* popover start */
.popup-fade-enter-active,
.popup-fade-leave-active {
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
.popup-fade-enter-from,
.popup-fade-leave-to {
  transform: scale(0.95);
  opacity: 0;
}
.popup-fade-enter-to,
.popup-fade-leave-from {
  transform: scale(1);
  opacity: 1;
}
/* popover end */

.pbx-theme-cover svg {
  width: 100%;
  height: 100%;
  preserveaspectratio: xMidYMid slice;
  object-position: top; /* align to top */
}

/* hide scrollbar */
/* Safari + Chrome + Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* hide scrollbar */
